<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="Login.php">
        <system.webServer>
            <defaultDocument>
                <files>
                    <add value="Login.php" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
